body {
	display: block;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.main {
	display: block;
	height: 100%;
	width: 100%;
}

.brown {
	display: flex;
	background-image: url("images/wallp.jpg");
	background-size: 100% 100%;
	height:	95.731%;
	width: 100%;
}

.monitor {
	display: block;
	height: 100%;
	width: 100%;
	border: 30px solid black;
	border-radius: 10px;
}

.red {
	display: flex;
	background-image: url("images/b.png");
	background-size: 100% 100;
	height: 4.269%;
	width: 100%;
}

.black {
	display: flex;
	height: 100%;
	width: 10%;
}

.yellow {
	height: 100%;
	width: 90%;
}

.purple {
	/*border: 3px purple solid;*/
	height: 100%;
	width: 50%;
}

.green {
	/*border: 3px green solid;*/
	display: flex;
	height: calc(100%/10);
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-top: 0.25%;
}

.cimg {
	display: flex;
	max-height: 100%;
	max-width: 100%;
}

.img-choke{
	max-height: 100%;
	max-width: 100%;
}